venv
.vscode
.env
.env.local

*.pyc
__pycache__
.mypy_cache
.pytest_cache

scripts/
latest_logs/
./data
old/
tmp/
to_delete/

data/
test.ipynb
test.py
test2.py


*.zip
*.pt
test.sh
.DS_Store
configue.yml
client_secrets.json
tmp
*.ipynb
*.png

*.json
*.csv
logs.log*
!notebooks/*.ipynb